<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-9">				
				<h1>{{ 'SITE_TITLE' | translate }}</h1>
				<p>{{ 'SITE_SUBTITLE' | translate }}</p>
			</div>
			<div class="col-md-3">
				<img src="images/logo.png">
			</div>
		</div>
	</div>
</div>

<div class="project-description-container">
	<div class="container">
		<div class="">
			<h1>{{ 'SITE_DESC_TITLE' | translate }} <small></small></h1>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p>{{ 'SITE_DESC' | translate }}</p>
			</div>
		</div>
	</div>
</div>



<div class="feature-container">
	<div class="container">
		<div class="feature row">
			<div class="col-md-4 col-md-offset-1">
				<h2>{{ 'FEATURE_0_TITLE' | translate }}</h2>
				<p>{{ 'FEATURE_0_DESCRIPTION' | translate }}</p>
			</div>
			<div class="col-md-6">
				<img class="thumbnail pull-right" src="{{ 'FEATURE_0_IMAGE' | translate }}">
			</div>
		</div>
	</div>
</div>

<div class="feature-container highlighted">
	<div class="container">
		<div class="feature row">
			<div class="col-md-4 col-md-offset-1">
				<h2>{{ 'FEATURE_1_TITLE' | translate }}</h2>
				<p>{{ 'FEATURE_1_DESCRIPTION' | translate }}</p>
			</div>
			<div class="col-md-6">
				<img class="thumbnail pull-right" src="{{ 'FEATURE_1_IMAGE' | translate }}">
			</div>
		</div>
	</div>
</div>

<div class="feature-container">
	<div class="container">
		<div class="feature row">
			<div class="col-md-4 col-md-offset-1">
				<h2>{{ 'FEATURE_2_TITLE' | translate }}</h2>
				<p>{{ 'FEATURE_2_DESCRIPTION' | translate }}</p>
			</div>
			<div class="col-md-6">
				<img class="thumbnail pull-right" src="{{ 'FEATURE_2_IMAGE' | translate }}">
			</div>
		</div>
	</div>
</div>

<div class="feature-container highlighted">
	<div class="container">
		<div class="feature row">
			<div class="col-md-4 col-md-offset-1">
				<h2>{{ 'FEATURE_3_TITLE' | translate }}</h2>
				<p>{{ 'FEATURE_3_DESCRIPTION' | translate }}</p>
			</div>
			<div class="col-md-6">
				<img class="thumbnail pull-right" src="{{ 'FEATURE_3_IMAGE' | translate }}">
			</div>
		</div>
	</div>
</div>
