<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img class="thumbnail" src="http://placehold.it/200x200&text=LOGO">
			</div>
			<div class="col-md-9">				
				<h1>Welcome to landing page for team awesome!</h1>
				<p>Now go fuck yourself.</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	 <div class="page-header">
	  <h1>Program features <small>you'll kill your siblings over.</small></h1>
	</div>

	<br><br>

	<div id="features" class="row">
		<div class="feature col-md-3 col-md-offset-1">
			<h2>Feature 1</h2>
			<p>Lorem ipsum Duis exercitation consectetur laboris ad fugiat qui in aute aliqua ea quis.</p>
		</div>
		<div class="col-md-8">
			<img class="thumbnail pull-right" src="http://placehold.it/600x200&text=feature1">
		</div>

		<div class="feature col-md-3 col-md-offset-1">
			<h2>Feature 2</h2>
			<p>Lorem ipsum Duis exercitation consectetur laboris ad fugiat qui in aute aliqua ea quis.</p>
		</div>
		<div class="col-md-8">
			<img class="thumbnail pull-right" src="http://placehold.it/600x200&text=feature2">
		</div>

		<div class="feature col-md-3 col-md-offset-1">
			<h2>Feature 3</h2>
			<p>Lorem ipsum Duis exercitation consectetur laboris ad fugiat qui in aute aliqua ea quis.</p>
		</div>
		<div class="col-md-8">
			<img class="thumbnail pull-right" src="http://placehold.it/600x200&text=feature3">
		</div>
	</div>
</div>