/* line 8, ../sass/style.scss */
* {
  font-family: 'Open Sans', sans-serif;
}

/* line 16, ../sass/style.scss */
.jumbotron {
  background-color: #23293C;
  padding: 130px 30px;
  margin: 0;
}
/* line 21, ../sass/style.scss */
.jumbotron h1 {
  margin-top: 80px;
}
/* line 24, ../sass/style.scss */
.jumbotron h1, .jumbotron p {
  color: white;
  font-weight: 300;
}
/* line 28, ../sass/style.scss */
.jumbotron img {
  width: 100%;
}

/* line 33, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 37, ../sass/style.scss */
.language {
  margin-right: 10px;
  cursor: pointer;
}
/* line 40, ../sass/style.scss */
.language span {
  color: #777;
  border-right: 1px solid #777;
  padding: 0 5px;
}
/* line 45, ../sass/style.scss */
.language span:hover {
  color: white;
}
/* line 48, ../sass/style.scss */
.language span:last-child {
  border-right: none;
}

/* line 54, ../sass/style.scss */
.project-description-container {
  background-color: #B8CAFF;
  padding-top: 50px;
  padding-bottom: 80px;
}
/* line 59, ../sass/style.scss */
.project-description-container h1 {
  font-weight: 800;
}

/* line 66, ../sass/style.scss */
.feature-container.highlighted {
  background-color: #F7F7F7;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
/* line 71, ../sass/style.scss */
.feature-container .feature {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 77, ../sass/style.scss */
footer p {
  text-align: center;
  margin-top: 10px;
}

/*****************************/
/*****************************/
/* Verslagen
/*****************************/
/*****************************/
/* line 91, ../sass/style.scss */
#verslagen ul {
  list-style-type: none;
}
/* line 94, ../sass/style.scss */
#verslagen ul li {
  margin: 10px 0;
  padding: 10px 0;
  line-height: 25px;
}
/* line 98, ../sass/style.scss */
#verslagen ul li:hover {
  background-color: #F7F7F7;
}
/* line 101, ../sass/style.scss */
#verslagen ul li a {
  color: black;
  text-decoration: none;
}
/* line 105, ../sass/style.scss */
#verslagen ul li img {
  margin-top: -3px;
  margin-left: 5px;
  height: 25px;
}

/*****************************/
/*****************************/
/* Leden
/*****************************/
/*****************************/
/* line 123, ../sass/style.scss */
#leden .lid-container {
  min-height: 180px;
  float: left;
}
/* line 127, ../sass/style.scss */
#leden .lid-container .lid {
  padding: 10px;
  position: relative;
}
/* line 130, ../sass/style.scss */
#leden .lid-container .lid h2 a {
  text-decoration: none;
  color: black;
}
/* line 142, ../sass/style.scss */
#leden .lid-container .lid p {
  margin-bottom: 15px;
}
/* line 146, ../sass/style.scss */
#leden .lid-container .lid .block {
  background-color: #EEEEEE;
  padding: 5px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  color: #262626;
  font-size: 0.8em;
  -moz-box-shadow: 1px 1px 1px 1px #e8e8e8;
  -webkit-box-shadow: 1px 1px 1px 1px #e8e8e8;
  box-shadow: 1px 1px 1px 1px #e8e8e8;
}

/* line 168, ../sass/style.scss */
#leden .search-box, #verslagen .search-box {
  margin-top: 6px;
}

/* line 174, ../sass/style.scss */
.customNav {
  background-color: black;
  color: #777;
  padding: 15px;
  line-height: 20px;
  font-weight: bold;
}
/* line 181, ../sass/style.scss */
.customNav a {
  color: #777;
}
/* line 184, ../sass/style.scss */
.customNav a:hover {
  color: white;
  text-decoration: none;
}
/* line 190, ../sass/style.scss */
.customNav .brand > a {
  text-transform: uppercase;
}
